* {
    padding: 0;
    margin: 0;
    font-family:'Space Grotesk', sans-serif;
}

body {
    background-color: #101013;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

.container_header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding: 50px 25px;
}

.border_wrapper {
    border: 2px solid #252529;
    border-radius: 8px;
    background-color: #202024 !important;
}

.input_header {
    background-color: #202024 !important;
    color: #AFABB6 !important;
    border: none;
    height: 50px;
}

::placeholder {
    color: #AFABB6 !important;
}

.container_cards {
    background-color: #1111147e;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 25px !important;
}

.main_card {
    background-color: #17171A;
    padding: 32px 24px;
    border: 2px solid #E07B67;
    border-radius: 8px;
}

.data_card {
    color: #E07B67;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.data_icon {
    display: flex;
    justify-content: space-between;
}

.icon_heart {
    fill: none;
    stroke: #E07B67;
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.3s;
}

.icon_heart.filled {
    fill: #E07B67;
}


.title_card {
    font-size: 20px;
    color: #ffffff;
}

.content_card {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color:#AFABB6;
}

@media screen and (min-width: 992px) {
    .container_header {
        background-color: #17171A;
    }
    .container_title_input, .container_cards {
        margin: 0 20%;
    }

}